:root {
  --foreground-color: #000;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --background-color: #202020;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-color: #000;
    --background-color: #fff;
  }
}

body {
  display: grid;
  min-height: 100vh;
  grid: auto 1fr auto / 100%;
  background: var(--background-color);
}

.title {
  position: relative;
  margin: 100px 0 0 100px;
}

.title__title {
  font-size: 24px;
  font-weight: 800;
  color: var(--foreground-color);
}

.title__description {
  margin-top: 10px;
  width: 200px;
  color: var(--foreground-color);
}

.title__date {
  margin-top: 10px;
  font-style: italic;
  color: var(--foreground-color);
}

.links {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  text-decoration: none;
}

.link__image {
  height: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.link__text {
  margin-top: 10px;
  color: var(--foreground-color);
}

.link:hover .link__text {
  text-decoration: underline;
}

.socials__container {
  margin: 0 100px 100px auto;
}

.socials__title {
  font-weight: 800;
  color: var(--foreground-color);
}

.social__content {
  margin-top: 10px;
  color: var(--foreground-color);
}

.social__link {
  color: black;
  text-decoration: none;
  font-style: italic;
  color: var(--foreground-color);
}

.social__link:hover {
  text-decoration: underline;
}

.social__text {
  display: inline-block;
}

@media (min-width: 550px) and (max-width: 840px) {
  html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  body {
    min-height: 0;
    flex-shrink: 1;
    grid: 1fr 1fr 1fr / auto auto;
    gap: 20px;
    padding: 40px 0;
  }

  .title {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
  }

  .links {
    display: contents;
  }

  .link {
    grid-column: 1;
  }

  .socials__container {
    grid-row: 3;
    grid-column: 2;
    margin: 0;
  }
}

@media (max-width: 550px) {
  .title {
    margin: 20px;
  }

  .links {
    flex-direction: column;
  }

  .socials__container {
    margin: 20px;
  }
}
