:root {
  --foreground-color: #000;
  --secondary-color: #afafaf;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --secondary-color: #3e3939;
    --background-color: #202020;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-color: #000;
    --secondary-color: #afafaf;
    --background-color: #fff;
  }
}

.body {
  background: var(--background-color);
}

.body--grid {
  display: grid;
  min-height: 100vh;
  grid: auto 1fr auto / 50% 50%;
}

/* Title section */

.title {
  margin: 100px 100px 0 100px;
}

.body--grid .title {
  grid-column: 1;
  grid-row: 1;
  margin: 100px 0 0 100px;
  justify-self: flex-start;
  align-self: flex-start;
}

.title__title {
  font-size: 24px;
  font-weight: 800;
  color: var(--foreground-color);
  margin-bottom: 10px;
}

.title__link {
  color: #fff;
  text-decoration: none;
}

.title__link:hover {
  text-decoration: solid underline;
}

.title__description {
  width: 200px;
  color: var(--foreground-color);
}

.title__date {
  margin-top: 10px;
  font-style: italic;
  color: var(--foreground-color);
}

/* Logo section */

.body--grid .logo {
  display: flex;
  grid-column: 2;
  grid-row: 1;
  margin: 100px 100px 0 0;
  justify-content: flex-end;
  align-content: flex-start;
}

.logo {
  display: inline-flex;
  margin: 100px 100px 0 0;
  justify-content: flex-end;
  align-content: flex-start;
  width: 50;
}

.logo__icon {
  flex-shrink: 0;
}

/* Links section */

.links {
  grid-column: 1/3;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  text-decoration: none;
}

.link__image {
  height: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.link__text {
  margin-top: 10px;
  color: var(--foreground-color);
}

.link:hover .link__text {
  text-decoration: underline;
}

/* About section */

.about {
  grid-column: 1;
  grid-row: 3;
  margin: 0 0 100px 100px;
  justify-self: flex-start;
  align-self: flex-end;
}

.about__title {
  font-weight: 800;
  color: var(--foreground-color);
  margin-bottom: 10px;
}

.about__body {
  width: 300px;
  color: var(--foreground-color);
}

.about__link {
  color: var(--foreground-color);
  font-style: italic;
  text-decoration: underline dotted;
}

.about__link:hover {
  text-decoration: underline;
}

.about__more {
  margin-top: 10px;
}

.about__more-link {
  color: var(--foreground-color);
  font-style: italic;
  text-decoration: underline dotted;
}

.about__more:hover {
  text-decoration: underline;
}

/* Socials section */

.socials {
  color: var(--foreground-color);
  grid-column: 2;
  grid-row: 3;
  margin: 0 100px 100px 0;
  justify-self: flex-end;
  align-self: flex-end;
}

.socials__title {
  font-weight: 800;
  color: var(--foreground-color);
  margin-bottom: 10px;
}

.social__content {
  color: var(--foreground-color);
}

.social__link {
  text-decoration: underline dotted;
  font-style: italic;
  color: var(--foreground-color);
}

.social__link:hover {
  text-decoration: underline;
}

.social__text {
  display: inline-block;
}

/* Music sections */

.section {
  margin: 50px 100px;
}

.section__title {
  color: var(--foreground-color);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.section__description {
  color: var(--foreground-color);
  margin-bottom: 20px;
}

.section__grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 40px;
  margin-bottom: 40px;
  max-height: 482.5px;
  overflow: hidden;
}

.item {
  text-decoration: none;
  width: 200px;
}

.item__image {
  height: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.item__text {
  margin-top: 10px;
  color: var(--foreground-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item:hover .item__text {
  text-decoration: underline;
}

.item__embed {
  height: 200px;
  width: 200px;
}

.item__link {
  margin-top: 10px;
  color: var(--foreground-color);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.item:hover .item__link {
  text-decoration: underline;
}

.section__more {
  color: var(--foreground-color);
  text-decoration: none;
}

.section__more:hover {
  text-decoration: underline;
}

@media (min-width: 600px) and (max-width: 950px) {
  html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .body--grid {
    min-height: 0;
    flex-shrink: 1;
    grid: 1fr 1fr 1fr / auto auto;
    gap: 20px;
    padding: 40px 0;
  }

  .body--grid .links {
    display: contents;
  }

  /* Title section */

  .body--grid .title {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    justify-self: flex-start;
    align-self: flex-start;
  }

  /* Links section */

  .body--grid .link {
    grid-column: 1;
  }

  /* About section */

  .body--grid .about {
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    justify-self: flex-start;
    align-self: flex-start;
  }

  /* Socials section */

  .body--grid .socials {
    grid-row: 3;
    grid-column: 2;
    margin: 0;
    justify-self: flex-start;
    align-self: flex-start;
  }

  /* Logo section */

  .body--grid .logo {
    grid-row: 3;
    grid-column: 2;
    margin: 0 0 0 0;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media (max-width: 600px) {
  body {
    grid: auto 1fr auto / auto auto;
  }

  /* Title section */

  .body--grid .title {
    margin: 20px;
    grid-column: 1/3;
    justify-self: flex-start;
    align-self: flex-start;
  }

  .title__description {
    width: auto;
  }

  /* Links section */

  .links {
    flex-direction: column;
  }

  /* About section */

  .body--grid .about {
    grid-row: 3;
    grid-column: 1/3;
    margin: 20px;
    justify-self: flex-start;
    align-self: flex-start;
  }

  .about__body {
    width: auto;
  }

  /* Socials section */

  .body--grid .socials {
    grid-row: 4;
    grid-column: 1;
    margin: 20px 0 20px 20px;
    justify-self: flex-start;
    align-self: flex-start;
  }

  /* Logo section */

  .body--grid .logo {
    grid-row: 4;
    grid-column: 2;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 20px;
  }
}
