{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<nav class="links" aria-label="navigation">
    <a href="music" class="link" aria-label="music">
        <img class="link__image"
            srcset="/images/piano-200w.webp, /images/piano-300w.webp 1.5x, /images/piano-400w.webp 2x"
            src="/images/piano-200w.webp" alt="Inside a Steinway & Sons upright" width="200" height="200" />
        <p class="link__text">music</p>
    </a>
    <a href="food" class="link" aria-label="food">
        <img class="link__image"
            srcset="/images/melanzane-200w.webp, /images/melanzane-300w.webp 1.5x, /images/melanzane-400w.webp 2x"
            src="/images/melanzane-200w.webp" alt="Parmigiana di melanzane" width="200" height="200" />
        <p class="link__text">food</p>
    </a>
    <a href="photography" class="link" aria-label="photography">
        <img class="link__image"
            srcset="/images/light-200w.webp, /images/light-300w.webp 1.5x, /images/light-400w.webp 2x"
            src="/images/light-200w.webp" alt="Light on a wall" width="200" height="200" />
        <p class="link__text">photography</p>
    </a>
</nav>

<section class="about" aria-label="about">
    <p class="about__title">About me</p>
    <p class="about__body">Born in
        <a class="about__link" href="https://wikipedia.org/wiki/Gernsbach" target="_blank">Germany</a> and moved to
        <a class="about__link" href="https://wikipedia.org/wiki/Ashdown_Forest" target="_blank">Great
            Britain</a> at
        the age of 7. Amongst other things, I love traditional <a class="about__link"
            href="https://memoriediangelina.com/" target="_blank">Italian cooking</a>,
        <a class="about__link" href="https://rateyourmusic.com/artist/tigran_hamasyan" target="_blank">Armenian
            jazz</a>, <a class="about__link" href="https://letterboxd.com/szaa/list/favourite-classic-films/"
            target="_blank">classic films</a>
        and
        <a class="about__link" href="https://www.strava.com/athletes/sza_a" target="_blank">cycling</a>. I am
        currently studying
        Maths in <a class="about__link" href="https://ethz.ch/" target="_blank">Switzerland</a>.
    </p>
    <p class="about__more"><a class="about__more-link" href="about">Read more</a></p>
</section>
{% endblock %}