{% extends "base.html" %}
{% block title %} / Music{% endblock %}
{% block content %}
<div class="playlists" aria-label="playlists">
    {% for playlist in playlists %}
    <a href="{{ playlist['href'] }}" target="_blank" class="playlist" aria-label="{{ playlist['name'] }}">
        <img class="playlist__image" srcset="{{ playlist['srcset'] }}" src="{{ playlist['src'] }}"
            alt="Playlist thumbnail for {{ playlist['name'] }}" width="200" height="200" />
        <p class="playlist__text">{{ playlist["name"] }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}